<header>
	<nav id="top-menu">
		<ul id="top-menu-box">
			<a href="/k2/" class="top-menu-link"><img src="/img/kamico.png" alt="Kamico" class="top-menu-icon"></a>
  			 <a href="#" class="m-log" id="icon"></a>
			<div class="mn-res">
				<a href="/" class="top-menu-link"><li class="top-item"><i class="fa fa-home" aria-hidden="true"></i> Accueil</li></a>
					<form action="" class="top-form">
						<span class="top-search-bar-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
						<input type="seach" placeholder="Rechercher un utilisateur ou un groupe" name="top-search-bar" class="top-search-bar">
					</form>
				<a href="/disconnect" class="top-menu-link"><li class="top-item top-notifications"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</li></a>
			</div>
			<div class="mn-mob">
				<span class="mn-icon"><a href="/disconnect" class="nodeco"><i class="fa fa-sign-out" aria-hidden="true"></i></a></span>
				<span class="mn-icon"><a href="#" class="notifications nodeco mr25"><i class="fa fa-bell" aria-hidden="true"></i> </span> <span class="nc-norange"></span></a></span>
			</div>
		</ul>
	</nav>
	<div class="input-results">
		
	</div>
</header>
<div class="m-h-filter"></div>
<div class="mobile-header">
	<a href="/k2/profile/"><div class="m-header">
		<img src="/k2/img/avatar.png" alt="profile-avatar" class="m-header-avatar">
		<h3 class="m-header-profile">Utilisateur</h3>
	</div></a>
	<div class="m-infos">
		<p class="m-info">Abonnés <span class="orange fright">0</span></p>
		<p class="m-info">Abonnements <span class="orange fright">0</span></p>
		<p class="m-info">Publications <span class="orange fright">0</span></p>
		<p class="m-info">Points <span class="orange fright">0</span></p>
	</div>
	<div class="m-links">
		<p><a href="/k2/roulette" class="m-link"><i class="fa fa-refresh" aria-hidden="true"></i> Roulette</a></p>
		<p><a href="/k2/group/" class="m-orange">+ Créer un groupe</a></p>
	</div>
</div>